*.png
*.tex

### LATEX:
## Core latex/pdflatex auxiliary files:
*.aux
*.log
*.lot
*.fls
*.out
*.toc
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
# beamer
*.nav
*.pre
*.snm
*.vrb
# hyperref
*.brf
# *.tikz
*-tikzDictionary
# listings
*.lol
# TikZ & PGF
*.dpth
*.md5
*.auxlock
# xcolor
*.xcp